# Backend API Base URL
VITE_API_BASE_URL=http://localhost:3000/api/v1

# Backend Server Root URL (for static uploads / images)
VITE_SERVER_URL=http://localhost:3000

# Backend Swagger API Documentation URL
VITE_SWAGGER_URL=http://localhost:3000/api/v1/docs
